<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div style="height:100vh;overflow-y:scroll">
                <div class="category w-100">
                    <input type="text" class="form-control form-control-sm" #search [value]="filter.search" (keyup)="searchProduct(search.value)">
                </div>
                <br>
                <div class="category w-100">
                    <button class="btn btn-primary btn-sm btn-block" [class.selected]="categorySlug.includes(category.slug)" *ngFor="let category of categories" (click)="filterByCategory(category)">{{category.name}}</button>
                </div>
                <br>
                <div class="price w-100">
                    <input type="text" class="form-control form-control-sm" [value]="filter.min_price" #minPrice (keyup)="filterByPrice(minPrice.value,maxPrice.value)">
                    <input type="text" class="form-control form-control-sm" [value]="filter.max_price" #maxPrice (keyup)="filterByPrice(minPrice.value,maxPrice.value)">
                </div>
                <br>
                <div class="sorting w-100">
                    <select #order class="form-control form-control-sm" (change)="orderProduct(order.value)">
                        <option value="">default</option>
                        <option *ngFor="let order of orderOpt" [selected]="order==sorting.order" [value]="order">{{order | uppercase}}</option>
                    </select>
                    <select #orderby class="form-control form-control-sm" (change)="orderBy(orderby.value)">
                        <option value="">default</option>
                        <option *ngFor="let orderby of orderbyOpt" [selected]="orderby==sorting.orderby" [value]="orderby">{{orderby | uppercase}}</option>
                    </select>
                </div>
                <br>
                <div class="color w-100">
                    <button *ngFor="let color of colors" class="btn btn-sm btn-primary btn-block" [class.selected]="termSlug.includes(color.slug)" (click)="filterByAttribute('pa_color',color)">{{color.name}}</button>
                </div>
                <br>
                <div class="size w-100">
                    <button *ngFor="let size of sizes" class="btn btn-sm btn-primary btn-block" [class.selected]="termSlug.includes(size.slug)" (click)="filterByAttribute('pa_size',size)">{{size.name}}</button>
                </div>
                <br>
                <div class="tags w-100">
                    <button *ngFor="let tag of tags" [class.selected]="tagSlug.includes(tag.slug)" class="btn btn-sm btn-primary btn-block" (click)="filterByTag(tag)"><span [innerHTML]="tag.name"></span></button>
                </div>
                <br>
                <div class="weight w-100">
                    <button *ngFor="let weight of weights" class="btn btn-sm btn-primary btn-block" [class.selected]="termSlug.includes(weight.slug)" (click)="filterByAttribute('pa_weight',weight)"><span [innerHTML]="weight.name"></span></button>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div style="height:100vh;overflow-y:scroll">
                <app-product-list
                    [filter]="filter"
                    [pagination]="pagination"
                    [sorting]="sorting"
                    [productType]="productType"
                    [attribute]="attribute"
                    (pageOnChanges)="changePage($event)"
                ></app-product-list>
            </div>
        </div>
    </div>
</div>