    <div class="row">
        <div *ngFor="let product of products" class="col-4 mb-2">
            <div class="card text-center">
                <!-- <img class="card-img-top" src="{{product.images[0].src}}" alt="Card image"> -->
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text">{{product.slug}}</p>
                    <p class="card-text">{{product.price | currency}}</p>
                    <p class="card-text">Id : {{product.id }} | date :{{product.date_created}} </p>
                    <p>categories : <span *ngFor="let cat of product.categories"> {{cat.name}} | </span></p>
                    <p>tags : <span *ngFor="let tag of product.tags"> {{tag.name}} | </span></p>
                    <div *ngFor="let attr of product.attributes">
                        <p>{{attr.name}} : <span *ngFor="let term  of attr.options"> {{term}} |</span></p>
                    </div>
                    <p class="card-text">{{product.description}}</p>
                    <!-- <a routerLink="/products/detail/{{product.id}}" class="btn btn-primary">Detail</a> -->
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-between">
        <div>
            <button class="btn btn-primary mr-2" (click)="prev()" [disabled]="pagination.page==1">Prev</button>
        </div>
        <div>
            <button class="btn btn-primary mr-2" (click)="changePage(page)" [disabled]="page==pagination.page" *ngFor="let page of pages">{{page}}</button>
        </div>
        <div>
            <button class="btn btn-primary" (click)="next()" [disabled]="pages.length==pagination.page">Next</button>
        </div>
    </div>
<!-- </div>
<ng-template #notFound>
    <h5>product not found</h5>
</ng-template> -->